@media screen and (max-width:1024px){
	header p{
	font-size:1.3em;

	}
	header h1{
		font-size:3.5em;
		
	}
	#und p{
		font-size:25px;
	}
	#pu{
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		
	}
	.pud{
		width:70%;
		margin:25px 15% 25px 15%;
		
	}
}
@media screen and (max-width: 991px){
	#unt{
		display:flex;
		justify-content:space-between;
	}
	.du{
		display:flex;
		flex-direction:column;
		height:100%;
	}
	.flip-card{
		width:80%;
		height: 350px;
		margin-left: auto;
		margin-right: auto;
		margin-top:20px;
		margin-bottom:20px;
		
	}
	.flip-card-back p{
		font-size:20px;
	}
}
@media screen and (max-width: 767px){
	header p{
        color: red;
    }
}